# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Temp files created by sed
*.go-e

# Temp log files created by some apps
trace.log
trace-log.txt

# My stuff
lex/
wip/
mypackage/
*.zip