# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with ?   	_/Users/lex/dev/02_generics_cars	[no test files]
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Temporary backup file created by sed in prune-project alias
main.go-e
